body{
    background-image: url(flag.jpg);
    background-position: center;
    background-size: cover;
}
header{color: white;
    background-color: black;
padding: 20px;
}
button{padding: 15px;
margin: 5px;
border: outset;}
footer{color: black;
background-color: brown;
padding: 10px;}
